# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files (※絶対にコミットしてはいけない)
.env*.local
.env